body {
  background-color: ghostwhite;
}

p {
  margin: 0;
}

button {
  background-color: rgb(241, 241, 241);
}

.fas {
  width: 24px;
  color: gainsboro;
}

.fa-level-down-alt {
  top: 0.8rem;
  right: 1.5rem;
  transform: rotate(90deg);
}

#toDoListContainer {
  background-color: white;
}
